<h2>Listado de Alumnos</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Sexo</th>
      <th>Fecha de Nacimiento</th>
      <th>Dirección</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alumno of alumnos">
      <td>{{ alumno.ID }}</td>
      <td>{{ alumno.Nombre }}</td>
      <td>{{ alumno.Apellidos }}</td>
      <td>{{ alumno.Sexo }}</td>
      <td>{{ alumno.FNac }}</td>
      <td>{{ alumno.Direccion }}</td>
    </tr>
  </tbody>
</table>