<div *ngIf="alumno">
    <table>
        <thead>
            <tr>
                <th>ALUMNO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ alumno.ID }}</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>{{ alumno.Nombre }}</td>
            </tr>
            <tr>
                <td>Apellidos</td>
                <td>{{ alumno.Apellidos }}</td>
            </tr>
            <tr>
                <td>Direccion</td>
                <td>{{ alumno.Direccion }}</td>
            </tr>
            <tr>
                <td>Sexo</td>
                <td>{{ alumno.Sexo }}</td>
            </tr>
        </tbody>
    </table>
    <br>
</div>