<cuantosAlumnos      
[todos]="getNumTodos()"
[hombres]="getNumHombres()"
[mujeres]="getNumMujeres()">>
</cuantosAlumnos>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>F.Nac</th>
            <th>Sexo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alumno of alumnos">
            <td>{{alumno.nombre | uppercase |AlumnoTitulo:alumno.sexo}} {{alumno.apellidos |uppercase}}</td>
            <td>{{alumno.direccion}}</td>
            <td>{{alumno.fnac | date: 'dd/MM/yyyy'}}</td>
            <td>{{alumno.sexo}}</td>
        </tr> 
        <tr>
            <td colspan="5" *ngIf="alumnos.length == 0">No hay alumnos</td>
        </tr>
    </tbody>
</table>